.nav-item {
    margin-left: 240px;
    margin-right: 50px
}

.card-title {
    color: mediumblue;
}

.materi-1 {
    background-color: #87CEFA;
}

footer {
    height: 80px;
    background-color: gray;
}

footer p {
    color: aliceblue;
}

.item {
    font-size: 70px;
}